.mine-free-ques {
    margin-top: 8.8rem
}

.mine-f-q-list {
    width: 100%;
    height: 26.1rem;
    padding: 3.4rem 3.1rem;
    background: #fff;
    margin-bottom: 1.6rem
}

.mine-f-q-list > div:first-child {
    color: rgba(153, 153, 153, 1);
    font-size: 2.6rem;
    display: flex;
    justify-content: space-between
}

.mine-f-q-list > div:last-child {
    color: rgba(153, 153, 153, 1);
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between
}

.mine-f-q-list > div:last-child img {
    width: 1.9rem;
    height: 2.3rem;
    vertical-align: middle
}

.mine-f-q-list > div:nth-child(2) {
    font-size: 2.8rem;
    line-height: 3.8rem;
    border-bottom: 1px solid #eee;
    margin: 2.1rem 0 1rem 0;
    padding-bottom: 2.4rem
}

.m-q-f-detail {
    background: #fff;
    min-height: 26.7rem;
    height: auto
}

.adopt {
    width: 10.3rem;
    height: 5rem;
    color: #333;
    border-radius: .4rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2.8rem;
    position: absolute;
    top: 5rem;
    right: 0
}

.adopt_act {
    color: #fff;
    background: rgba(254, 109, 39, 1)
}

.adopt_act_jb {
    color: #fff;
    background: #bbb
}

.m-q-f-report {
    float: right;
    margin-right: 6rem
}

.m-q-f-d-msg:not(:last-child) {
    border-bottom: 1px solid #eee
}

.mine-ans-cn {
    position: absolute;
    top: 5rem;
    right: 0
}

.mine-ans-sj {
    float: right
}

.mine-answer-date {
    margin-top: 1.3rem
}

.mine-answer-list {
    background: #fff;
    margin-bottom: 1.6rem
}

.watch-answer-msg {
    padding-bottom: 2rem;
    min-height: 70rem;
    height: auto
}

.smw-mine {
    margin-top: 8.8rem;
    min-height: 100vh;
    background: #fff
}

.smw-list {
    width: 100%;
    height: 16rem;
    color: rgba(51, 51, 51, 1);
    font-size: 2.4rem;
    padding: 3rem
}

.smw-list:not(:last-child) {
    border-bottom: 1px solid #eee
}

.smw-list > img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-right: 1rem
}

.smw-list > div {
    width: 83%
}

.smw-list > div > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem
}

.smw-detail-msg-list {
    padding: 3rem
}

.smw-detail-msg-list > li {
    margin-bottom: 6rem
}

.smw-list-date {
    color: rgba(153, 153, 153, 1);
    font-size: 2.6rem;
    text-align: center
}

.smw-detail-msg-list img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%
}

.smw-list-export {
    text-align: left
}

.smw-list-user {
    text-align: right
}

.smw-list-export > img {
    margin-right: 1.2rem
}

.smw-list-user > img {
    margin-left: 1.2rem
}

.smw-list-export > div {
    max-width: 47.3rem;
    padding: 2.4rem 2.2rem;
    background: #fff;
    font-size: 3rem;
    color: rgba(51, 51, 51, 1);
    line-height: 4.2rem;
    border-radius: .6rem
}

.smw-list-user > div {
    max-width: 47.3rem;
    padding: 2.4rem 2.2rem;
    background: rgba(45, 134, 253, 1);
    font-size: 3rem;
    color: #fff;
    line-height: 4.2rem;
    border-radius: .6rem
}

.smw-detail-page {
    margin-top: 8.8rem
}

.send-mine-smw {
    font-size: 2.6rem;
    color: rgba(45, 134, 253, 1);
    margin-left: 8rem
}

.send-smw-group input {
    margin-top: -1rem
}

.mine-buy-list {
    margin-top: 8.8rem
}

.out {
    display: none
}

.mine-tab-buy {
    margin-top: 8.8rem;
    background: #fff;
    min-height: 100vh
}

.list-ul {
    overflow: hidden
}

.list-li {
    height: 18.5rem;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 3rem;
    -webkit-transform: translateX(0px);
    box-sizing: border-box;
    transition: all .2s linear
}

.btn {
    position: absolute;
    top: 0;
    right: -15.7rem;
    text-align: center;
    background: rgba(250, 73, 73, 1);
    color: #fff;
    font-size: 3rem;
    width: 15.7rem;
    height: 18.5rem
}

.btn > div {
    width: 50%;
    margin: 4rem auto
}

.collection-list-msg {
    color: rgba(0, 0, 0, 1);
    line-height: 4rem;
    font-size: 3rem
}

.collection-list-msg > div:last-child {
    color: rgba(102, 102, 102, 1);
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem
}

.collection-list-msg > div:last-child > div > span {
    margin-left: 3rem
}

.mine-fans-list > li {
    height: 15rem;
    padding: 3rem;
    border-bottom: 1px solid #eee;
    color: rgba(51, 51, 51, 1);
    font-size: 2.8rem
}

.mine-fans-list > li > img {
    height: 8.4rem;
    width: 8.4rem;
    border-radius: 50%;
    margin-right: 2.3rem
}

.mine-fans-list > li > div > img {
    width: 7.7rem;
    height: 1.9rem
}

.minr-m-g {
    margin-top: 8.8rem;
    min-height: 100vh;
    background: #fff;
    padding: 3.5rem 3.4rem
}

.member-dj {
    font-size: 3rem;
    margin-bottom: 3rem
}

.member-dj > img {
    width: 12.1rem;
    height: 3.5rem;
    vertical-align: middle
}

.member-jf {
    width: 69rem;
    height: 17.6rem;
    background: url("../img/icon-member rating-bg.png") no-repeat;
    background-size: 100%;
    color: #fff;
    font-size: 3rem;
    padding: 2rem 3.4rem;
    margin-bottom: 7.4rem
}

.member-jf > div:last-child {
    font-size: 4.2rem
}

.member-jf > div .m-jf-num {
    font-size: 6.6rem
}

.fzzc-name {
    font-size: 3rem;
    text-align: center
}

.fzzc > ul {
    margin: 8.4rem 4rem;
    font-size: 2.8rem;
    color: rgba(51, 51, 51, 1)
}

.fzzc > ul > li {
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    height: 8.4rem;
    line-height: 8.4rem
}

.dj-table > img {
    width: 100%;
    height: auto;
    margin: 4.6rem 0
}

.jf-table > img {
    width: 100%;
    height: auto;
    margin: 4.6rem 0
}

.minr-xxgwk {
    margin-top: 8.7rem
}

.xxgwk-head {
    background: #fd4b4a
}

.xxgwk-ye {
    width: 100%;
    height: 27rem;
    background: url("../img/icon-learning card-bg.png") no-repeat;
    background-size: 100%;
    color: #fff;
    font-size: 3rem;
    padding: 4rem
}

.xxgwk-ye > div:last-child {
    font-size: 8rem
}

.xxgwk-ye > div:last-child > span {
    font-size: 10rem
}

.minr-xxgwk ul {
    background: #fff
}

.minr-xxgwk li {
    padding: 4rem;
    height: 29.2rem;
    border-bottom: 1px solid #eee
}

.minr-xxgwk li > img {
    width: 29.9rem;
    height: 19.4rem;
    margin-right: 4.7rem
}

.xxgwk-money {
    font-size: 2.8rem
}

.xxgwk-money > span {
    font-size: 4.6rem
}

.xxgwk-fp {
    font-size: 2.8rem;
    color: rgba(153, 153, 153, 1)
}

.xxgwk-fp > img {
    width: 2.9rem;
    height: 2.8rem;
    vertical-align: middle;
    margin-right: 1rem
}

.xxgwk-buy {
    width: 31rem;
    height: 6.7rem;
    line-height: 6.7rem;
    text-align: center;
    color: rgba(250, 73, 73, 1);
    border: 1px solid rgba(250, 73, 73, 1);
    border-radius: .2rem;
    margin-top: 2.4rem;
    font-size: 3rem
}

.mine-per-data {
    margin-top: 8.8rem
}

.mine-per-data > div {
    background: #fff
}

.mine-per-data-img > img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    vertical-align: middle
}

.mine-per-data-list > a:first-child {
    height: 14rem
}

.weui-picker-modal .picker-center-highlight:before {
    background: #fff
}

.toolbar .picker-button {
    right: 4rem
}

.mine-msg-list .weui-cell__ft {
    width: 64%
}

.toolbar .toolbar-inner, .weui-cell__bd, .toolbar .title, .toolbar .picker-button {
    font-size: 2.8rem !important;
    height: 10.4rem;
    line-height: 10.4rem
}

.weui-cell_primary {
    text-align: center;
    height: 10rem;
    line-height: 10rem
}

.weui-picker-modal {
    min-height: 31.2rem
}

.weui-select-modal .weui-cells {
    min-height: 21.8rem
}

.weui-cells_radio .weui-check:checked + .weui-icon-checked:before {
    display: none
}

.img-sel-model {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    bottom: 0;
    display: none
}

.img-sel-model > div {
    width: 100%;
    height: 32.2rem;
    background: #f2f2f2;
    position: absolute;
    bottom: 0
}

.img-sel-model > div > div {
    background: #fff;
    height: 10.4rem;
    line-height: 10.4rem;
    text-align: center;
    z-index: 1000;
    border-bottom: 1px solid #eee;
    font-size: 3.2rem;
    position: relative
}

.img-sel-model > div > div:last-child {
    margin-top: 1.1rem
}

.mine-per-data-list > a {
    border-bottom: 1px solid #eee
}

.mine-per-data-list .weui-cell:before, .mine-per-data-list:after {
    border: none !important
}

.mine-user-img-sel-btn, .mine-user-img-sel-btn2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0
}

.version-information > input {
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 2.8rem;
    text-align: right;
    background: transparent
}

.weui-picker-modal .picker-items {
    background: #fff;
    font-size: 3rem
}

.weui-picker-modal .picker-center-highlight {
    height: 10rem
}

.weui-picker-modal .picker-modal-inner {
    height: 22.8rem
}

.city-picker .picker-items-col {
    max-width: 100%;
    text-align: center
}

.picker-modal-inner > div:nth-child(1) > div > .picker-item {
    height: 6.2rem;
    line-height: 6.2rem
}

.picker-modal-inner > div:nth-child(3) > div > .picker-item, .city-picker .picker-modal-inner > div:nth-child(2) > div > .picker-item, .city-picker .picker-modal-inner > div:nth-child(1) > div > .picker-item {
    height: 7.5rem !important;
    line-height: 7.5rem
}

.picker-modal-inner > div:nth-child(5) > div > .picker-item {
    height: 7.5rem;
    line-height: 7.5rem
}

.picker-modal-inner > div:nth-child(7) > div > .picker-item {
    height: 7.5rem;
    line-height: 7.5rem
}

.picker-modal-inner > div:nth-child(9) > div > .picker-item {
    height: 7.5rem;
    line-height: 7.5rem
}

.name-change {
    margin-top: 8.8rem;
    height: 100vh;
    background: #fff;
    padding: 3rem
}

.name-change > input {
    width: 96%;
    height: 10.4rem;
    background: rgba(244, 244, 244, 1);
    border-radius: .4rem;
    font-size: 3.2rem;
    padding-left: 3.2rem;
    border: 0
}

.about-us {
    margin-top: 8.8rem;
    background: #fff;
    min-height: 100vh;
    height: auto;
    padding: 0 6rem;
    color: #333;
    font-size: 3.4rem
}

.about-us img {
    width: 13.8rem;
    height: 13.8rem;
    margin: 7rem 0 5rem 0
}

.about-us > div:first-child {
    text-align: center
}

.about-us > div:nth-child(2) {
    margin-bottom: 8rem;
    color: #666;
    font-size: 3rem
}

.set-help {
    margin-top: 10.4rem;
    background: #FFF;
    height: 100vh
}

.what-jsb-name {
    margin: 6rem 0;
    color: #000;
    font-size: 4.2rem
}

.what-jsb-page:before {
    display: table;
    content: ''
}

.yjfk-textarea {
    width: 100%;
    height: 40rem;
    border: 0;
    background: rgba(244, 244, 244, 1);
    border-radius: .4rem;
    font-size: 3.2rem;
    padding: 3.2rem
}

.yjfk-phonenumber {
    font-size: 3rem;
    margin: 6rem 0 3.7rem 0;
    color: rgba(51, 51, 51, 1)
}

.password-ul {
    padding: 0 3rem
}

.password-ul > li {
    width: 100%;
    box-sizing: border-box;
    height: 10.3rem;
    border-bottom: 1px solid #eee;
    line-height: 10.3rem;
    font-size: 3rem
}

.password-ul > li > img {
    width: 2.9rem;
    height: 3.5rem;
    vertical-align: middle;
    margin-right: 2.3rem
}

.password-ul > li > input {
    border: 0;
    width: 80%;
    height: 90%;
    font-size: 3rem
}

.password-edit-list {
    margin-top: 8.8rem;
    background: #fff;
    height: 100vh
}

.msg-push-del {
    margin: 7rem auto !important
}

.cswdk-page {
    background: #fff;
    min-height: 120vh;
    height: auto;
    width: 100%
}

.cswdk-page > div {
    padding: 0 4rem;
    position: absolute;
    top: 0
}

.cswdk-page > img {
    width: 100%;
    position: absolute;
    top: 0
}

.cswdk-header {
    background: linear-gradient(90deg, #2b95e9, #26a0f0, #20affa)
}

.cswdk-money {
    width: 67rem;
    height: 26.5rem;
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: 0 .2rem 3rem 0 rgba(45, 134, 253, 0.14);
    font-size: 3rem;
    color: #333;
    padding-top: 4.8rem;
    background: #fff;
    margin-top: 15.4rem
}

.cswdk-money > div:last-child {
    font-size: 6rem
}

.cswdk-money > div:last-child > span {
    font-size: 10rem
}

.yqdhb-btn {
    width: 67rem;
    height: 9.8rem;
    line-height: 9.8rem;
    text-align: center;
    color: #fff;
    font-size: 3.2rem;
    background: rgba(45, 134, 253, 1);
    border-radius: .6rem;
    margin-top: 5.1rem
}

.cswd-rule {
    font-size: 2.8rem;
    color: #333
}

.cswd-rule > div {
    text-align: center
}

.cswd-rule > div:first-child {
    margin-top: 8.5rem;
    font-size: 3.2rem;
    font-weight: bold
}

.cswd-rule > div:last-child {
    margin-top: 4rem
}

.invite-img {
    width: 100%
}

.invite-img > img {
    width: 100%;
    height: 46.4rem
}

.invite-img > div {
    width: 100%;
    height: 14.4rem;
    background: #fff;
    padding: 2.9rem;
    text-align: center
}

.invite-btn {
    text-align: left;
    width: 49%;
    box-sizing: border-box;
    font-size: 2.8rem;
    color: #666
}

.invite-btn:not(:last-child) {
    border-right: 1px solid #eee
}

.invite-btn > img {
    width: 8rem;
    height: 8rem;
    margin: .7rem 3rem 0 3rem
}

.invite-btn > div > div:first-child {
    font-size: 3rem;
    color: #000;
    font-weight: bold
}

.invite-rule {
    background: #fff;
    margin-top: 1.6rem;
    padding: 5.6rem;
    height: 58.4rem
}

.invite-rule .cswd-rule > div:first-child {
    margin-top: 0
}

.yq-bg-img {
    width: 100%;
    height: 85rem
}

.yq-icon-list {
    background: #fff;
    font-size: 2.7rem;
    color: #333;
    text-align: center;
    height: 32rem
}

.icon_msg {
    width: 14%;
    margin: 0 2%
}

.icon_msg img {
    width: 9.4rem;
    height: 9.4rem;
    margin: 3.2rem 0
}

.mine-invite-record > img {
    width: 100%;
    height: 46.4rem
}

.mine-invite-record > div {
    background: #ffeda7;
    min-height: 107rem;
    height: auto;
    padding: 0 3.5rem 2rem 3.5rem
}

.invite-rigister-btn {
    position: relative
}

.invite-rigister-btn > img {
    width: 100%;
    height: 29.5rem
}

.invite-rigister-btn > div {
    font-size: 5.8rem;
    width: 100%;
    color: #fff8d6;
    position: absolute;
    top: 0;
    text-align: center
}

.invite-rigister-btn > div > span:nth-child(2) {
    font-size: 13.5rem
}

.invite-rigister-btn > div > span:nth-child(3) {
    font-size: 4rem
}

.wxts {
    text-align: center;
    margin: 6.2rem 0 5.1rem 0
}

.wxts > img {
    width: 34.2rem;
    height: 9.6rem
}

.wxts-ul {
    color: #aa6c24;
    font-size: 3rem
}

.yqjl-table {
    width: 100%;
    font-size: 3rem;
    color: #c98c45;
    border: 1px solid #e4a760
}

.yqjl-table td, .yqjl-table th {
    font-size: 3rem;
    color: #c98c45;
    text-align: center;
    padding: 2.6rem 0
}

.yqjl-table td:not(last-child), .yqjl-table th:not(last-child) {
    border-right: 1px solid #e4a760
}

.yqjl-table tr:not(last-child) {
    border-bottom: 1px solid #e4a760
}

.yqjl-table th {
    background: #fcedb6
}

.yqjl-table td {
    background: #fff4ca
}

.mine-invite-code {
    margin-top: 8.8rem;
    padding: 5.2rem
}

.mine-invite-code > div {
    width: 100%;
    height: 73.9rem;
    background: #fff;
    border-radius: 3rem;
    padding-top: 5.2rem
}

.m-i-code-title {
    font-size: 3.2rem;
    text-align: center
}

.m-i-code-img {
    width: 49.1rem;
    height: 49.1rem;
    border: 1px solid #eee;
    padding: 1rem;
    margin: 1rem auto
}

.m-i-code-img > img {
    width: 100%;
    height: 100%
}

.mine-wallet-header {
    background: linear-gradient(90deg, rgba(46, 140, 228, 1), rgba(29, 183, 255, 1), rgba(29, 183, 255, 1))
}

.mine-wallet {
    margin-top: 8.7rem
}

.mine-wallet-msg:before {
    display: table;
    content: ''
}

.mine-wallet-msg {
    width: 100%;
    height: 35.2rem;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(90deg, rgba(46, 140, 228, 1), rgba(29, 183, 255, 1), rgba(29, 183, 255, 1))
}

.mine-wallet-msg > div:first-child {
    margin-top: 8.6rem
}

.mine-wallet-msg > div:nth-child(2) {
    font-size: 8rem
}

.mine-wallet-msg > div:nth-child(2) > span {
    font-size: 11rem
}

.mine-wallet .weui-cells {
    margin-top: 1.6rem
}

.mine-wallet .weui-cell__hd {
    margin-right: 1.5rem
}

.mine-attention {
    margin-top: 8.8rem;
    background: #fff;
    height: 100vh;
    overflow: auto
}

.mine-attention-pull {
    margin-top: 0
}

.mine-attention > div {
    height: 14.6rem;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 0 3rem;
    position: relative
}

.mine-attention > div > img {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 50%;
    margin-top: 3rem;
    margin-right: 1.9rem
}

.attention-export-msg {
    font-size: 2.4rem;
    color: #999;
    margin-top: 3rem
}

.attention-export-msg > div:first-child > img {
    width: 2.6rem;
    height: 2.6rem;
    vertical-align: middle
}

.attention-export-msg > div:first-child > span:first-child {
    color: #333;
    font-size: 3rem
}

.attention-btn {
    position: absolute;
    top: 5rem;
    right: 3rem;
    width: 16.5rem;
    height: 5.6rem;
    line-height: 5.6rem;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 2.8rem;
    color: #999;
    font-size: 2.8rem
}

.smw-pf-input {
    border-bottom: none !important
}

.smw-pf-score {
    height: 11.1rem;
    line-height: 11.1rem;
    font-size: 3.2rem;
    color: #333
}

.smw-pf-score > span > img {
    width: 3.8rem;
    height: 4.2rem;
    vertical-align: middle
}

.smw-pf-score > span:first-child {
    margin-right: 21.9rem
}

.smw-pf-score > span:last-child {
    margin-left: 3.4rem;
    color: #fb6a23;
    font-size: 3rem
}

.smw-pf-text {
    width: 69rem;
    height: 42.1rem;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: .4rem;
    background: rgba(248, 248, 248, 1);
    font-size: 3rem;
    padding: 3.2rem
}

.consultant-img-group {
    height: 35.8rem !important;
    text-align: center !important;
    border-bottom: 1px solid #eee
}

.consultant-img {
    height: 15.6rem;
    width: 15.6rem;
    margin-top: 4.8rem;
    margin-bottom: 2.6rem;
    border-radius: 50%
}

.consultant-upload-btn {
    width: 19rem;
    height: 5.7rem;
    line-height: 5.7rem;
    border: 1px solid rgba(187, 187, 187, 1);
    border-radius: .4rem;
    color: rgba(153, 153, 153, 1);
    font-size: 2.6rem;
    text-align: center;
    margin: 0 auto
}

.cxs-certificate-group {
    background: #fff;
    padding: 0 3rem 3rem 3rem;
    margin-top: 1.6rem
}

.certificate-name {
    height: 10.3rem;
    line-height: 10.3rem;
    display: flex;
    justify-content: space-between;
    color: #999;
    font-size: 3rem;
    border-bottom: 1px solid #eee
}

.certificate-name > span:first-child {
    color: #333;
    font-weight: bold
}

.certificate-upload-group > div:first-child {
    color: #333;
    font-size: 3rem;
    margin: 4rem 0
}

.certificate-upload-total {
    position: relative;
    margin-right: 4rem
}

.certificate-upload-total > img:first-child {
    width: 16.4rem;
    height: 16.4rem;
    min-width: 16.4rem;
    min-height: 16.4rem;
    visibility: hidden
}

.certificate-img-show {
    visibility: visible !important
}

.certificate-upload-input, .certificate-upload-div {
    width: 16.4rem;
    height: 16.4rem;
    position: absolute;
    top: 0;
    left: 0
}

.certificate-upload-input {
    opacity: 0
}

.certificate-upload-div {
    background: url("../img/icon-index-ask-add img.png") no-repeat;
    background-size: 100%
}

.del-certificate-img, .del-certificate-img2 {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    display: none
}

.sqzxs-reminder {
    color: #999;
    font-size: 2.6rem;
    padding: 5.8rem 0 7rem 0
}

.send-sqzxs-msg {
    height: 8.8rem;
    line-height: 8.8rem;
    color: #fff;
    text-align: center;
    background: rgba(254, 109, 39, 1);
    border-radius: .4rem;
    font-size: 3.2rem
}

.sqzxs-jdal {
    height: 100vh !important
}

.sqzxs-scly {
    min-height: 100vh;
    height: auto
}

.consultant-goodat-act {
    background: rgba(244, 249, 255, 1) !important;
    border: 1px solid rgba(54, 153, 255, 1) !important;
    border-radius: .4rem;
    color: #3699ff !important
}

.consultant-class-group {
    height: auto !important
}

.sqzxs-scly:before {
    display: table;
    content: ''
}

.scly-title {
    font-size: 3rem;
    margin: 4.6rem 2.9rem 0 2.9rem
}

.scly-title > span:first-child {
    font-weight: bold
}

.wsgrjl {
    position: static;
    margin-top: 3.8rem
}

.invoice-page {
    margin-top: 8.8rem
}

.invoice-list:before {
    display: table;
    content: ''
}

.invoice-list {
    height: 15.3rem;
    background: #fff;
    position: relative;
    color: #333;
    border-bottom: 1px solid #eee
}

.invoice-title {
    height: 7.4rem;
    line-height: 7.4rem;
    font-size: 2.6rem;
    border-bottom: 1px solid #eee;
    padding-left: 3.2rem;
    color: #666
}

.invoice-list > div:first-child {
    font-size: 3.2rem;
    margin: 3.2rem 0 0 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between
}

.invoice-list > div:nth-child(2) {
    font-size: 2.6rem;
    margin-left: 2.7rem;
    float: right
}

.invoice-list > div:nth-child(2) > span {
    font-size: 3.2rem
}

.invoice-list > div:nth-child(3) {
    padding-left: 2.7rem;
    font-size: 2.6rem;
    color: #999
}

.open-invoice-btn {
    position: absolute;
    top: 8.4rem;
    right: 3.2rem;
    width: 10.2rem;
    height: 4.1rem;
    color: #999;
    font-size: 2.4rem;
    line-height: 4.1rem;
    text-align: center
}

.open-invoice-btn_blue {
    background: rgba(45, 134, 253, 1);
    border: 1px solid rgba(45, 134, 253, 1);
    border-radius: 4px;
    color: #fff
}

.transaction_record_body {
    background: #fff;
    margin-top: 8.8rem;
    width: 100%;
    height: auto;
    min-height: 100vh
}

.transaction_record_body li {
    width: 100%;
    height: 14.6rem;
    padding: 2.6rem;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between
}

.transaction_list_name {
    font-size: 3.2rem;
    color: #333
}

.transaction_list_name img {
    width: 8.7rem;
    height: 3.1rem;
    vertical-align: middle;
    margin-left: 1.4rem
}

.transaction_list_name img[src=""] {
    opacity: 0 !important
}

.transaction_list_name > div:last-child {
    font-size: 2.6rem;
    color: #999
}

.transaction_list_money {
    font-size: 3.2rem;
    line-height: 10rem
}

.put-forward-body {
    margin-top: 8.8rem
}

.forward_money {
    width: 100%;
    height: 32.8rem;
    background: #fff;
    font-size: 2.6rem;
    color: #666;
    padding: 4.6rem 3.2rem
}

.forward_money > div:first-child {
    font-size: 2.8rem;
    margin-bottom: 5.7rem
}

.forward_money > div:nth-child(2) {
    vertical-align: bottom;
    padding-bottom: 1rem
}

.forward_money > div:nth-child(2) > div {
    font-size: 6rem;
    color: #333;
    vertical-align: bottom
}

.forward_money > div:nth-child(2) > input {
    font-size: 8.4rem;
    color: #333;
    border: 0;
    width: 60%;
    vertical-align: bottom
}

.forward_money > div:nth-child(3) {
    border-top: 1px solid #eee;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between
}

.put-forward-btn {
    width: 69rem;
    height: 8.8rem;
    line-height: 8.8rem;
    text-align: center;
    color: #fff;
    margin: 5.7rem auto;
    background: rgba(45, 134, 253, 1);
    border-radius: .4rem;
    font-size: 3.2rem
}

.record-money {
    font-size: 2.8rem;
    color: #666;
    padding: 2.8rem 3rem;
    border-bottom: 1px solid #eee
}

.record-money > div {
    margin-right: 3rem
}
.mine-365{
    background: #fff;
    width:100%;
    min-height:100vh;
    padding-bottom: 11.8rem;
}
.mine-365-header{
    min-height:19.1rem;
    height:auto;
    width: 100%;
    padding:0 3.2rem;
}
.mine-365-header .mine-msg-name{
    width:100%;
}
.edit-365-msg{
    font-size: 2.6rem!important;
    color:#999;
    float: right;
    margin-top: 9.6rem!important;
}
.edit-365-msg>span{
    font-size: 4rem!important;
}
.mine-365-header .mine-user-name{
    color:#333!important;
}
.mine-365-header .zxs-grade{
    color:#666!important;
    font-size: 2.4rem;
}
.mine-365-header .zxs-grade>img{
    vertical-align: middle;
}
.mine-365-set{
    position: absolute;
    top:2.4rem;
    right:3.2rem;
}
.mine-365-set>img{
    width:3.6rem;
    height:3.6rem;
}
.mine-365-card{
    width:100%;
    height:12.8rem;
    background: url(../img/365_My_vipcard-pt.png) no-repeat;
    background-size: 100% 100%;
}
.card-365-date,.card-365-open{
   float: right;
    line-height: 12.8rem;
    height:12.8rem;
    font-size: 2.2rem;
    color:#AA7C39;
    text-align: right;
    margin-right: 6.1rem;
}
.card-365-date>div,.card-365-open>div{
    font-size: 2.6rem;
    color:#754A06;
    margin-left: 1.9rem;
}
.card-365-date>div>img,.card-365-open>div>img{
    vertical-align: middle;
    width:1rem;
    height:1.9rem;
    margin: -0.5rem 0 0 2rem;
}
.mine-365-main{
    /*padding:2.6rem;*/
}
.mine-365-model{
    /*width: 100%;*/
    min-height:23.6rem;
    height:auto;
    padding:2.6rem 3rem;
    border-radius:1.2rem;
    box-shadow:0px 0px  16px 14px #f2f2f2;
    margin: 0 2.6rem 2rem 2.6rem;
}
.mine-365-model-title{
    font-size: 2.8rem;
    color:#333;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}
.mine-365-model-title>span{
    font-size: 2.4rem;
    color:#999;
}
.mine-365-model-body>div{
    width:24.5%;
    text-align: center;
    font-size: 2.4rem;
    margin-top:4.5rem;
    vertical-align: top;
}
.mine-mb-list-one{
    font-size: 3.2rem;
}
.mine-mb-list-one>img{
    vertical-align: middle;
}
.hangxin-date-365{
    color:#999;
    font-size: 2.6rem;
    margin-top: -1rem;
}
.workbench-normal{
    margin-bottom: 2rem;
}
.workbench-normal>img{
    width:100%;
}
.card-365-title{
    color:#444;
    background: #FCEAC4;
}
.card-365-show{
    width:100%;
    height:39.8rem;
    background: url("../img/365_card_vip.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top:0;
}
.mine-365-card-body{
    min-height: 100vh;
    height:auto;
    background: #fff;

}
.mine-365-card-body-one{
    position: relative;
    height:39.8rem;
    top:8.8rem;
}
.mine-365-card-body-one>img{
    position: absolute;
    top:0;
    width:100%;
}
.card-365-show-date,.card-365-show-open{
    position: absolute;
    bottom:8rem;
    right:9rem;
    color:#fff;
    font-size: 2.2rem;
}
.card-365-renew{
    width:16.1rem;
    height:5.5rem;
    line-height: 5.5rem;
    text-align: center;
    font-size: 2.4rem;
    color:#93600E;
    border:1px solid rgba(141,90,8,1);
    border-radius:2.8rem;
    margin-left: 2rem;
}
.vip-365-title{
    font-size: 3.2rem;
    color:#5F3008;
    height:7.3rem;
    line-height: 7.3rem;
    text-align: center;
    margin-top: 8rem;
}
.mine-365-hangxin>div{
    margin-top: 6rem;
}
.equity-365{
    height:16.2rem;
    background: url("../img/equity.png") no-repeat;
    background-size: 100% 100%;
    padding:3.8rem 5rem;
    font-size: 2.4rem;
    color:#999;
}
.equity-365>img{
     /*vertical-align: middle;*/
    width:9.3rem;
    height:8.6rem;
    margin-right: 3rem;
 }
.equity-365-title{
    font-size: 2.8rem;
    color:#666;
}
.card-365-footer{
    position: absolute;
    bottom:8rem;
    text-align: center;
    width: 100%;
}
.card-365-footer-one{
    font-size: 2.4rem;
    color:#5F3008;
}
.card-365-footer-one>span{
    padding: 0 2rem;
}
.card-365-footer-one>span:first-child{
    border-right:1px solid #5F3008;
}
.card-365-footer-two{
    width:67.8rem;
    height:9.8rem;
    line-height: 9.8rem;
    color:#5F3008;
    font-size: 2.6rem;
    margin: 3rem auto;
    background: #DFC287;
}
.card-365-footer-two>span{
    font-size: 3.2rem;
    font-weight: bold;
}