.quik-ans {
    margin-top: 8.88rem;
    min-height: 100vh;
    height: auto;
    margin-bottom: 0
}

.money-reword {
    font-size: 2.4rem;
    position: absolute;
    top: 4.6rem;
    right: 0;
    color: #fa4949
}

.zx-detail-grade {
    vertical-align: middle;
    margin-top: -0.3rem
}

.zx-detail-grade > img {
    margin-top: .5rem
}

.zx-detail-date {
    color: #999;
    font-size: 2.4rem
}

.zx-detail-img {
    margin-top: 2.9rem;
    margin-bottom: 3rem
}

.zx-detail-img > img {
    width: 14rem;
    height: 14rem;
    margin-right: 2.4rem
}

.zx-list > div:first-child {
    height: auto
}

.zx-detail-city {
    width: 100%;
    font-size: 2.4rem;
    color: #999;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
}

.zx-detail-city img {
    width: 1.9rem;
    height: 2.3rem;
    vertical-align: middle;
    margin-top: -0.5rem
}

.answer-btn {
    width: 24.6rem;
    height: 7rem;
    line-height: 7rem;
    color: #fff;
    font-size: 3rem;
    margin: 5.2rem auto 3.8rem auto;
    text-align: center;
    background: rgba(254, 109, 39, 1);
    border-radius: .4rem;
    margin-right: 3.3rem;
}
.answer-btn-free{
    width: 24.6rem;
    height: 7rem;
    line-height: 7rem;
    color: #fff;
    font-size: 2.8rem;
    margin: 5.2rem auto 3.8rem auto;
    text-align: center;
    background: rgba(254, 109, 39, 1);
    border-radius: .4rem;
}
.answer-btn-free>span{
    font-size: 2rem;
}
.remarks {
    font-size: 2.6rem;
    color: rgba(153, 153, 153, 1);
    line-height: 3.6rem
}

.answer-answer {
    margin-top: 8.8rem;
    min-height: 25.6rem;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 1rem
}

.huida {
    background: #F2F2F2;
    width: 100%;
    height: 8.8rem;
    line-height: 8.8rem;
    color: #333;
    font-size: 3rem;
    font-weight: bold;
    padding: 0 3.2rem;
    box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.12)
}

.answer-text {
    background: #fff
}

#answer-textarea {
    width: 100%;
    height: 38.443rem;
    padding: 4.2rem 3.2rem;
    border: 0;
    color: #333;
    font-size: 3rem;
    border-bottom: 1px solid #e5e5e5
}

.tax-category {
    height: 48.7rem;
    padding: 3.7rem 3.1rem
}

.tax-category > div:first-child {
    color: #333;
    font-size: 3rem;
    margin-bottom: 4rem
}

.tax-category > div:nth-child(2) > div {
    padding: 0 1.9rem;
    height: 6.2rem;
    line-height: 6.2rem;
    box-sizing: border-box;
    color: #666;
    font-size: 2.8rem;
    text-align: center;
    background: rgba(246, 246, 246, 1);
    border-radius: .2rem;
    margin-right: 1.8rem;
    margin-bottom: 2rem
}

.tax-category > div:nth-child(2) .tax-category-act {
    color: #fff;
    background: #2d86fd
}

.wacth-city {
    display: flex;
    justify-content: space-between;
    margin-top: 3.3rem
}

.wacth-num {
    font-size: 2.4rem;
    color: #999
}

.wacth-num > span:first-child {
    margin-right: 4rem
}

.dz-num {
    color: #fe6d27
}

.wg-num {
    color: #2d86fd
}

.watch-pay {
    height: 20.6rem
}

.watch-pay > div:first-child {
    padding: 2.7rem 0 0 3.1rem;
    color: #999;
    font-size: 2.8rem
}

.watch-pay > div:last-child {
    text-align: center;
    font-size: 3.4rem;
    color: #666;
    height: 15.2rem;
    line-height: 15.2rem
}

.watch-pay > div:last-child > span {
    color: #fe6d27;
    font-size: 7.6rem
}

.pay-method {
    font-size: 2.8rem;
    color: #999;
    height: 9rem;
    line-height: 9rem;
    padding: 0 3rem;
    background: #f2f2f2
}

.watch-answer-city {
    display: flex;
    justify-content: space-between
}

.watch-answer-expert .clist-msg {
    border-bottom: 1px solid #eee;
    padding-bottom: 2.9rem;
    margin-top: 1rem
}

.zxs-grade {
    color: #999;
    font-size: 2.4rem
}

.zxs-grade > img {
    margin-top: .8rem
}

.zxs-range {
    padding: 3.3rem 3rem;
    box-sizing: border-box
}

.zxs-range > li {
    font-size: 2.6rem;
    color: #999;
    box-sizing: border-box
}

.zxs-range > li:not(:last-child) {
    margin-bottom: 4.6rem
}

.zxs-range > li > span:first-child {
    width: 13.3rem;
    margin-right: 3.8rem
}

.zxs-range > li > span:last-child {
    word-break: break-all;
    width: 50rem;
    vertical-align: top
}

.evaluation-score {
    height: 20rem !important;
    background: #f8f8f8;
    margin: 0 3rem 3rem 3rem;
    padding: 3rem !important;
    width: 68.9rem !important
}

.evaluation-score > div:first-child {
    font-size: 2.8rem;
    color: #fb6a23;
    margin-bottom: 1.4rem
}

.evaluation-score > div:first-child img {
    width: 3.8rem;
    height: 4.2rem;
    margin-left: 1.6rem
}

.evaluation-score > div:last-child {
    font-size: 2.8rem;
    color: #666
}

.watch-answer-msg {
    height: auto
}

.review-area {
    border-top: 1.9rem solid #f2f2f2;
    margin-bottom: 11rem
}

.review-area .watch-answer-expert .clist-msg {
    border: 0;
    padding: 0
}

.review-list-msg {
    padding-left: 11rem !important
}

.review-area > .zx-list > div {
    border: 0
}

.review-text-user {
    padding: 0 3rem;
    width: 100%;
    height: 11rem;
    line-height: 11rem;
    position: fixed;
    bottom: 0;
    background: #fff;
    box-shadow: 0 -0.1rem 3rem 0 rgba(238, 238, 238, 1)
}

.review-text-user img {
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
    margin-left: 2rem
}

.review-text-user input {
    border: 0;
    color: #333;
    width: 52rem;
    height: 6.6rem;
    background: #eee;
    border-radius: .4rem;
    font-size: 2.6rem;
    padding-left: 1.6rem;
    display: inline-block
}