.cafa-inter{
    margin-top: 8.8rem;
    background: #fff;
    min-height: 100vh;
    height: auto;
}
/*专家列表*/
.expert-list{
    margin-top: 8.8rem;
}
.expert-list>div{
    width: 100%;
    height:26rem;
    margin-bottom: 1.6rem;
    background: #fff;
    padding:3.2rem 2.9rem;
    position: relative;
}
.expert-msg>img{
    /*vertical-align: middle;*/
    width:15rem;
    height:15rem;
    margin-right: 2.7rem;
    border-radius: 50%;
}
.expert-msg>div>div:first-child{
    font-size: 3.4rem;
}
.expert-msg>div>div:nth-child(2){
    color:rgba(102, 102, 102, 1);
    font-size: 2.6rem;
}
.expert-msg>div>div:nth-child(3){
    color:rgba(254, 109, 39, 1);
    font-size: 2.6rem;
}
.expert-msg>div>div:nth-child(3)>img{
    width:3.2rem;
    height:2.8rem;
    vertical-align: middle;
}
.expert-msg>div>div:nth-child(3)>span{
    padding:0 1.2rem;
}
.expert-msg>div>div:nth-child(3)>span:not(:last-child){
    border-right:1px solid rgba(254, 109, 39, 1);
}
.smw{
    width:11rem;
    position: absolute;
    top:5.3rem;
    right:3rem;
}
.smw>img{
    width:100%;
    height:3.7rem;
}
.smw>div{
    width:100%;
    height:3rem;
    line-height: 3rem;
    font-size: 2rem;
    color:#FE6D27;
    border:1px solid #FE6D27;
    border-top:none;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    text-align: center;
}
.expor-scly{
    font-size: 2.4rem;
    color:rgba(102,102,102,1);
    margin-top: 2.3rem;
}
/*专家个人主页*/
.expert-home-page{
    margin-top: 8.8rem;
}
.home-page-head{
    width:100%;
    height:33rem;
    background: #fff;
    position: relative;
}
.page-background{
    width:100%;
    height:10.5rem;
}
.home-page-head>div{
    padding:0 2.9rem;
    position:absolute;
    top:0;
}
.home-page-head>div>img{
    width:17.3rem;
    height:17.3rem;
    border-radius: 50%;
    margin-top: 4.2rem;
}
.hp-msg{
    margin-top: 13rem;
    margin-left: 1.3rem;
}
.hp-msg>div:first-child>span:first-child{
    font-size: 3.6rem;
}
.hp-msg>div:first-child>img{
    margin-top: 1.4rem;
    width:3.1rem;
    height:3.1rem;
}
.hp-msg>div:first-child>span:last-child{
    font-size: 2.8rem;
    color:rgba(102,102,102,1);
}
.hp-msg>div:last-child{
    font-size: 2.4rem;
    color:rgba(102,102,102,1);
}
.blue{
    color:rgba(45, 134, 253, 1);
}

.hp-msg>div:last-child>span{
    padding:0 1.6rem;
}
.hp-msg>div:last-child>span:first-child{
    padding-left: 0;
}
.hp-msg>div:last-child>span:not(:last-child){
    border-right:1px solid #eee;
}
.zgrz{
    font-size: 2.6rem;
    color:rgba(254,109,39,1);
    margin-top: 3.6rem;
}
.zgrz img{
    width:3.4rem;
    height:3rem;
    margin:0.7rem;
}
.scly{
    background: #fff;
    height:26rem;
    margin-top: 1.6rem;
}
.scly .tax-category>div:first-child{
    margin-bottom: 1rem;
}
.export-personal-msg{
    margin-top: 1.6rem;
    background: #fff;
}
.export-personal-msg .weui-tab{
    margin-top: 0;
}
.export-personal-msg .weui-navbar{
    position: static;
}
.export-personal-msg .weui-navbar__item.weui-bar__item--on{
    color:rgba(254,109,39,1);
    background: #fff;
    border-bottom: 0.3rem solid rgba(254,109,39,1);
}
.export-personal-msg .weui-navbar{
    background: #fff;
    font-size: 3rem;
    color:#000;
    height:10.4rem;
    line-height: 10.4rem;
    box-shadow:0 0.1rem 0.3rem 0 rgba(0,0,0,0.15);
}
.export-personal-msg .weui-navbar__item:after{
    border:none;
}
.export-personal-msg .weui-navbar__item{
    font-size: 3rem;
    height:9.4rem;
    padding:0;
}
.export-personal-msg .weui-navbar:after{
    border:none;
}
.grjl{
    padding:3rem;
    color:rgba(51,51,51,1);
    font-size: 3rem;
}
.export-personal-msg .weui-tab__bd{
    padding-top:0!important;
}
.grjl .watch-answer-expert .clist-msg{
    border:none;
}
.wz-da{
    width:100%;
    /*height:28.5rem;*/
    background:rgba(248,248,248,1);
    color:rgba(51,51,51,1);
    font-size: 2.8rem;
    padding:2.8rem 3.1rem;
}
.export-foot{
    padding:0 3.8rem;
}
.orange{
    color:rgba(254,109,39,1);
}
.rd-look{
    width:9.6rem;
    height:3.2rem;
    line-height: 3.2rem;
    text-align: center;
    background: #FBF4F0;
    border:1px solid rgba(254,109,39,1);
    border-radius: 0.4rem;
    font-size: 2rem;
    color:rgba(254,109,39,1);
}
.export-foot>div:nth-child(2){
    margin-left: -6rem;
}
.expert-follow{
    background: #fff;
    position: fixed;
    bottom:0;
    width:100%;
    height:11rem;
    box-shadow:0 -0.1rem 0.3rem 0 rgba(238,238,238,1);
    font-size: 3.2rem;
}
.expert-follow>div:first-child{
    width:40%;
    height:11rem;
    line-height: 11rem;
    text-align: center;
    color:rgba(254,109,39,1);
}
.expert-follow>div:last-child{
    width:58.7%;
    height:11rem;
    line-height: 11rem;
    text-align: center;
    background:rgba(254,109,39,1);
    color:#fff;
}
.expert-follow span{
    font-size: 2.6rem;
}