.quik-ans{
    height: 100vh;
}
.money-reword{
    font-size: 2.4rem;
    position: absolute;
    top: 4.6rem;
    right: 0;
    color: #FA4949;
}
/*咨询详情*/
.zx-detail-grade{
    vertical-align: middle;
    margin-top: -0.3rem;
}
.zx-detail-grade>img{
    margin-top: 0.5rem;
}
.zx-detail-date{
    color:#999;
    font-size: 2.4rem;
}
.zx-detail-img{
    margin-top: 2.9rem;
    margin-bottom: 3rem;
}
.zx-detail-img>img{
    width:14rem;
    height:14rem;
    margin-right: 2.4rem;
}
.zx-list>div:first-child{
    height:auto;
}
.zx-detail-city{
    font-size:2.4rem;
    color:#999;
}
.zx-detail-city img{
    width:1.9rem;
    height:2.3rem;
    vertical-align: middle;
    margin-top: -0.5rem;
}
.answer-btn{
    width:100%;
    height:8.8rem;
    line-height: 8.8rem;
    color:#fff;
    font-size: 3.2rem;
    margin: 6.5rem 0 2.5rem 0;
    text-align: center;
    background:rgba(254,109,39,1);
    border-radius:0.4rem;
}
.remarks{
    font-size:2.6rem;
    color:rgba(153,153,153,1);
    line-height:3.6rem;
}
/*抢答页面*/
.answer-answer{
    margin-top: 8.8rem;
    min-height:45.6rem;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 1rem;
}
.huida{
    width:100%;
    height:8.8rem;
    line-height: 8.8rem;
    color:#333;
    font-size: 3rem;
    font-weight: bold;
    padding: 0 3.2rem;
    box-shadow:0 0.2rem 0.5rem 0 rgba(0,0,0,0.12);
}
.answer-text{
    /*height:97.4rem;*/
    background: #fff;
}
#answer-textarea{
    width:100%;
    height:38.443rem;
    padding:4.2rem 3.2rem;
    border:none;
    color:#333;
    font-size: 3rem;
    border-bottom: 1px solid #e5e5e5;
}
.tax-category{
    height:48.7rem;
    padding:3.7rem 3.1rem;
}
.tax-category>div:first-child{
    color:#333;
    font-size: 3rem;
    margin-bottom: 4rem;
}
.tax-category>div:nth-child(2)>div{
    padding:0 1.9rem;
    height: 6.2rem;
    line-height: 6.2rem;
    box-sizing: border-box;
    color:#666;
    font-size: 2.8rem;
    text-align: center;
    background:rgba(246,246,246,1);
    border-radius:0.2rem;
    margin-right: 1.8rem;
    margin-bottom: 2rem;
}
.tax-category>div:nth-child(2) .tax-category-act{
    color:#fff;
    background: #2D86FD;
}
/*围观页面*/
.wacth-city{
    display: flex;
    justify-content: space-between;
    margin-top: 3.3rem;
}
.wacth-num{
    font-size: 2.4rem;
    color:#999;
}
.wacth-num>span:first-child{
    margin-right: 4rem;
}
.dz-num{
    color:#FE6D27;
}
.wg-num{
    color:#2D86FD;
}
/*围观支付*/
.watch-pay{
    height:20.6rem;
}
.watch-pay>div:first-child{
    padding:2.7rem 0 0 3.1rem;
    color:#999;
    font-size: 2.8rem;
}
.watch-pay>div:last-child{
    text-align: center;
    font-size: 3.4rem;
    color:#666;
    height:15.2rem;
    line-height: 15.2rem;
}
.watch-pay>div:last-child>span{
    color:#FE6D27;
    font-size: 7.6rem;
}
.pay-method{
    font-size: 2.8rem;
    color:#999;
    height:9rem;
    line-height: 9rem;
    padding:0 3rem;
    background: #F2F2F2;
}
/*围观详情*/
.watch-answer-city{
    display: flex;
    justify-content: space-between;
}
.watch-answer-expert .clist-msg {
    border-bottom: 1px solid #eee;
    padding-bottom: 2.9rem;
    margin-top: 2rem;
}
.zxs-grade{
    color:#999;
    font-size: 2.4rem;
}
.zxs-grade>img{
    margin-top: 0.8rem;
}
.zxs-range{
    padding:3.3rem 3rem;
    box-sizing: border-box;
}
.zxs-range>li{
    font-size: 2.6rem;
    color:#999;
    box-sizing: border-box;
}
.zxs-range>li:not(:last-child){
    margin-bottom: 4.6rem;
}
.zxs-range>li>span:first-child{
    width:13.3rem;
    margin-right: 3.8rem;
}
.zxs-range>li>span:last-child{
    word-break: break-all;
    width: 50rem;
    vertical-align: top;
}
.evaluation-score{
    height:20rem!important;
    background: #F8F8F8;
    margin: 0 3rem 3rem 3rem;
    padding: 3rem!important;
    width:68.9rem!important;
}
.evaluation-score>div:first-child{
    font-size: 2.8rem;
    color:#FB6A23;
    margin-bottom: 1.4rem;
}
.evaluation-score>div:first-child img{
    width:3.8rem;
    height:4.2rem;
    margin-left: 1.6rem;
}
.evaluation-score>div:last-child{
    font-size: 2.8rem;
    color:#666666;
}
.watch-answer-msg{
    height:auto;
}
.review-area{
    border-top:1.9rem solid #F2F2F2;
    margin-bottom: 11rem;
}
.review-area .watch-answer-expert .clist-msg{
    border:none;
    padding:0;
}
.review-list-msg{
    padding-left: 11rem!important;
}
.review-area>.zx-list>div{
    border:none;
}
.review-text-user{
    padding:0 3rem;
    width:100%;
    height:11rem;
    line-height: 11rem;
    position: fixed;
    bottom:0;
    background: #fff;
    box-shadow:0 -0.1rem 3rem 0 rgba(238,238,238,1);
}
.review-text-user img{
    vertical-align: middle;
    width:4rem;
    height:4rem;
    margin-left: 2rem;
}
.review-text-user input{
    border:none;
    color:#333;
    width:48.3rem;
    height:6.6rem;
    background: #EEEEEE;
    border-radius:0.4rem;
    font-size: 2.6rem;
    padding-left:1.6rem;
}
